.spots-slot{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    margin-top: 150px;
    cursor: pointer;
}

.spot-slot{
    display: flex;
    flex-direction: column;
}

.spot-image{
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.spot-info-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.spot-city-and-state {
    margin-bottom: 15px;
}

.avg-rating {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
}

.spot-price {
    font-weight: bold;
}

@media (max-width: 500px) {
    .spots-slot {
        grid-template-columns: 1fr;
    }
}