.profile-dropdown.hidden {
    display: none;
}

.profile-dropdown {
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-content: flex-start; */
    cursor: pointer;
    border: 2px solid black;
}

.home-button-container{
    list-style-type: none;
    margin-bottom: 100px; /* add some margin to the bottom */
}

.nav-bar-items{
    list-style-type: none;
    position: absolute;
    right: 10px;
    top: 10px;
    padding-bottom: 100px; /* add some padding to the bottom */
}

.logo-image{
    position: absolute;
    left: 10px;
    top: 0px;
    width: 175px;
}

.session-links{
    margin-right: 45px;
    cursor: pointer;
}

.profile-dropdown li:not(.logged-in):hover{
    font-weight: bold;
}

.logged-in{
    cursor: pointer;
    margin-right: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.log-out-button {
    cursor: pointer;
    margin-right: 25px;
    margin-bottom: 7.5px;
    margin-top: 7.5px;
    border-radius: 20%;
}

.create-spot-button-box-nav {
    position: absolute;
    right: 180px;
    top: 26.5px;
    cursor: pointer;
    z-index: 1;
}

.manage-spots{
    color: black;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    margin-bottom: 3px;
    text-decoration: none;
    margin-right: 30px;
    margin-left: 0px;
}

.nav-bar {
    border-bottom: 2px solid rgb(201, 197, 197); /* or any other color */
  }

.drop-down-button-box {
    cursor: pointer;
    align-items: center;
}


  