.login-form{
    position: relative;
    width: 500px;
    background-color: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 5%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    align-items: center;
    gap: 15px
};

.login-form-box{
    border: 2px solid whitesmoke;
    border-radius: 5%;
}

.credentials {
    text-align: center;
}

.input-box {
    padding-left: 10px;
    margin-left: 10px;
    width: 250px;
    background-color: rgb(201, 245, 245);
}

.login-button{
    margin-bottom: 50px;
    width: 250px;
    height: 35px;
    border-radius: 5%;
    background-color: rgb(255, 91, 91);
}

.login-button:disabled{
    background-color: rgb(238, 238, 238);
}

.demo-login-button{
    width: 250px;
    height: 35px;
    text-decoration: underline;
    border-radius: 5%;
    color: teal;
}

h1 {
    text-align: center;
}